.videos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  video {
    width: 600px;
  }
}

.video-container {
  display: flex;
  flex-direction: column;
}

.offset-control {
  align-items: center;
  display: flex;
  gap: 0.5rem;
  padding: 0.5rem 0;
}

.offset-control input {
  width: 5rem;
}

.status {
  display: inline-block;
  position: absolute;
  top: 1rem;
  right: 1rem;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  border-radius: 4px;
  padding: 1rem;
}
